 .reg{
    background-color: rgb(208, 203, 203);
    height: 60%;
    width: 650px;
}
.head{
    margin-top: 100px;
    margin-right:600px;
    color: rgb(69, 116, 235);
    font-family: serif;
    font-size: 60px;
}
.container{
    margin-left: 700px;
    margin-top: -80px;
    background-color: rgb(224, 232, 241);
    height: 500px;
    width: 38%;
}
.title{
    color: rgb(20, 108, 231);
    font-size:25px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.fheight{
    height: 30px;
    width: 45%;
    border-radius: 3px;
}
.sheight{
    height: 30px;
    width: 45%;
    border-radius: 3px;
}
.mailheight{
    height: 30px;
    width: 45%;
    border-radius: 3px;
}
/* .dob{
    font-size: 20px;
} */
.button3{
    background-color: rgb(61, 184, 42);
    height: 30px;
    width:15%;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 15px;
}
.images{
    height: 65%;
    width: 100%;
    margin-top: -409px;
    margin-left: -650px;
}
.fb-body{
    margin-top: 50px;
    margin-right:600px;
    color: black;
    font-family: serif;
    font-size: 20px; 
}  


